HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.idea/
.mvn/
mvnw
mvnw.cmd
nice-mall-backend.iml
.idea/
.mvn/
mvnw
mvnw.cmd
nice-mall-backend.iml
target/
.attach_pid6817
.attach_pid6926
.attach_pid10213
.attach_pid11264
generator/
generator/
nice_sql/
nice_sql/
application.properties
