<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.SortListTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.SortListType">
        <id column="sort_list_type_id" property="sortListTypeId" />
        <result column="sort_list_id" property="sortListId" />
        <result column="sort_list_name" property="sortListName" />
    </resultMap>

</mapper>
