*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}

/*登录注册*/
.form-inline{
  width: 80%;
  min-height: 260px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  padding: 5px;
}
/*登录注册按钮*/
.form-inline .btn{
  background: #889fcc;
  border: none;
  padding: 7px 13px;
  margin-top: 5px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
.form-inline .btn:hover{
    color: white;
}
.form-inline .iconfont{
    position: absolute;
    left: 0;
    top:0;
    font-size: 25px;
    color: white;
    width: 40px;
    height: 45px;
    padding: 0;
    line-height: 45px;
    display: inline-block;
    background: #889fcc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.form-inline label{
    position: relative;
    height: 42px;
    margin-top: 10px;
    display: block;
    margin-left: 20px;
}
label input{
  margin-left: 30px;
  outline: none;
  height: 43px !important;
  border: 1px solid #d5d4d4;
  width: 200px;
  position: absolute;
  left: 10px;
  padding-left: 10px;
}
#forget-password{
  float: left;
  margin-top: 12px;
}

/*组件切换动画*/
.myactive{
    text-decoration: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #322f2f;
}
.router-link-active{
    text-decoration: none;
}
.v-enter,.v-leave-to{
    opacity: 0;
    transform: rotateX(180deg);
}
.v-enter-active,.v-leave-active{
    transition: all .5s ease-in;
}
/*轮播图*/
.mint-swipe-indicator.is-active {
    background: #ff2a23;
}
.mint-swipe-indicator {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.5;
    margin: 0 3px;
}



/*连接样式*/
ul{
    list-style: none;
}

.btn{
  border: 1px solid #d5d4d4;
  background-color: #FFFFFF;
}
.el-input {
    position: relative;
    font-size: 14px;
    height: 35px;
    display: inline-block;
    width: 100%;
}
.el-button.is-circle {
    border-radius: 50%;
    padding: 7px !important;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: -10px;
}

.el-col-5 {
    width: 20.83333%;
    float: left;
    margin: 10px 21px;
}

/*购物车选择框*/
.el-checkbox-group {
  font-size: 0;
  text-align: left;
  margin-left: 5%;
  margin-top: 15px;
}
.el-checkbox__label {
    display: none;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
}
/*订单*/
.el-tabs__item {
    padding: 0 20px;
    height: 45px;
    text-align: center;
    width: 25% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #303133;
    position: relative;
}
.el-button--primary.is-plain,.el-button--warning.is-plain,
.el-button--success.is-plain,.el-button--danger.is-plain,
.el-button--info.is-plain {
    color: #FFF;
    background-color: #F56C6C;
    border-color: #F56C6C;
    margin-top: 55px !important;
    margin-left: 20px !important;
}
.el-tabs__header .is-top{
    width: 76%;
    margin: 0 auto;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 10px 11px !important;
    font-size: 14px;
    border-radius: 4px;
}
.el-input__prefix, .el-input__suffix {
  position: absolute;
  top: 13px !important;
  -webkit-transition: all .3s;
  height: 100%;
  color: #C0C4CC;
  text-align: center;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
    width: 150px;
    margin: 10px 0;
}
.el-button.is-circle {
    border-radius: 50%;
    padding: 12px;
    width: 33px !important;
    height: 33px !important;
}
.el-submenu__title {
  font-size: 14px;
  color: #4e5053 !important;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: border-color .3s, background-color .3s, color .3s;
  transition: border-color .3s, background-color .3s, color .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-breadcrumb {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.mint-tab-container-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 10px !important;
}
.el-input__inner {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
}
hr{
  color: #cccccc;
}
.el-form-item__error {
  color: #F56C6C;
  font-size: 11px;
  line-height: 1;
  padding-top: 9px;
  position: absolute;
  top: 100%;
  left: 0;
}
.el-cascader .el-input .el-input__inner {
  text-overflow: ellipsis;
  width: 250px;
}
.el-input--suffix .el-input__inner {
  padding-right: 30px;
  width: 250px;
  height: 35px;
  margin: 10px 0;
}
.el-input__icon {
  height: 100%;
  width: 25px;
  margin-top: 0 !important;
  text-align: center;
}
