<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.JobAndTriggerMapper">

    <select id="getJobAndTriggerDetails" resultType="com.fdj.nicemallbackend.system.entity.JobAndTrigger">
        SELECT
            QRTZ_JOB_DETAILS.JOB_NAME,
            QRTZ_JOB_DETAILS.JOB_GROUP,
            QRTZ_JOB_DETAILS.JOB_CLASS_NAME,
            QRTZ_TRIGGERS.TRIGGER_NAME,
            QRTZ_TRIGGERS.TRIGGER_GROUP,
            QRTZ_CRON_TRIGGERS.CRON_EXPRESSION,
            QRTZ_CRON_TRIGGERS.TIME_ZONE_ID
        FROM
            QRTZ_JOB_DETAILS
                JOIN QRTZ_TRIGGERS
                JOIN QRTZ_CRON_TRIGGERS ON QRTZ_JOB_DETAILS.JOB_NAME = QRTZ_TRIGGERS.JOB_NAME
                AND QRTZ_TRIGGERS.TRIGGER_NAME = QRTZ_CRON_TRIGGERS.TRIGGER_NAME
                AND QRTZ_TRIGGERS.TRIGGER_GROUP = QRTZ_CRON_TRIGGERS.TRIGGER_GROUP
    </select>
</mapper>