<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.SortImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.SortImage">
        <id column="image_main_id" property="imageMainId" />
        <result column="upload_type" property="uploadType" />
        <result column="image_mains" property="imageMains" />
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="imageMainId" keyColumn="image_main_id">
          insert into m_sort_image values(NULL,#{uploadType} ,#{imageMains} )
    </insert>
    <select id="selectByUploadType" resultMap="BaseResultMap">
        select * from m_sort_image where upload_type = #{type}
    </select>

</mapper>
