<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.SortListNameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.SortListName">
        <id column="sort_list_id" property="sortListId" />
        <result column="sort_id" property="sortId" />
        <result column="sort_list_name" property="sortListName" />
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="sortListId" keyColumn="sort_list_id">
        insert into sort_list_name values(NULL,#{sortId} ,#{sortListName})
    </insert>
    <select id="selectId" resultMap="BaseResultMap">
        select * from sort_list_name where sort_list_name = #{sortListName}
    </select>
    <select id="select" resultMap="BaseResultMap">
       select * from sort_list_name
    </select>
    <select id="selectBysortId" resultMap="BaseResultMap">
        select * from sort_list_name where sort_id = #{sortId}
    </select>
    <select id="selectByPartName" resultType="java.lang.Integer">
        select sort_list_id from sort_list_name where sort_list_name like concat('%',${partName} ,'%')
    </select>
    <select id="selectByPartNames" resultType="java.lang.Integer">
        select sort_list_id from sort_list_name where sort_list_name like concat( ${partName} ,'%鞋')
    </select>
    <select id="selectByName" resultType="java.lang.Integer">
        select sort_list_id from sort_list_name where sort_list_name = #{sortListName}
    </select>

</mapper>
