<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.StoreGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.StoreGoods">
        <id column="business_id" property="businessId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="store_goods_number" property="storeGoodsNumber"/>
        <result column="goods_sales_volume" property="goodsSalesVolume"/>
    </resultMap>
    <insert id="save">
        insert into m_store_goods
        values (#{businessId}, #{goodsId,jdbcType=BIGINT}, #{storeGoodsNumber}, #{goodsSalesVolume,jdbcType=BIGINT})
    </insert>
    <select id="selectBygoodsId" resultMap="BaseResultMap">
        select *
        from m_store_goods
        where goods_id = #{goodsId}
    </select>
    <select id="selectBybusinessId" resultMap="BaseResultMap">
        select *
        from m_store_goods
        where business_id = #{id}
    </select>
</mapper>
