<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.TypeGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.TypeGoods">
        <result column="sort_id" property="sortId" />
        <result column="sort_list_name_id" property="sortListNameId" />
        <result column="sort_list_type_id" property="sortListTypeId" />
        <result column="goods_id" property="goodsId" />
    </resultMap>
    <insert id="save">
        insert into m_type_goods values (#{sortId} ,#{sortListNameId} ,#{sortListTypeId} ,#{goodsId})
    </insert>
    <select id="selectBytypeId" resultType="java.lang.Long">
        select goods_id from m_type_goods where sort_list_type_id = #{listTypeId}
    </select>
</mapper>
