<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdj.nicemallbackend.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fdj.nicemallbackend.system.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_true_name" property="userTrueName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_birth" property="userBirth"/>
        <result column="user_address" property="userTrueName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <select id="findByName" resultMap="BaseResultMap">
        select *
        from m_user
        where user_name = #{username}
    </select>
    <select id="selectAllName" resultType="java.lang.String">
        select user_name
        from m_user
    </select>
    <insert id="insertsave">
        insert into m_user(user_id, user_name, user_password, user_sex, user_telephone, user_avatar, create_time,
                           modify_time)
        values (NUll, #{userName}, #{userPassword}, #{userSex}, #{userTelephone}, #{userAvatar}, NOW(), NOW())
    </insert>
    <select id="findByPhone" resultMap="BaseResultMap">
        select *
        from m_user
        where user_telephone = #{telephone}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from m_user
    </select>
    <update id="updateById">
        update m_user
        <set>
            <if test="userName != null and userName != ''">
                user_name=#{userName} ,
            </if>
            <if test="userTrueName != null and userTrueName != ''">
                user_true_name = #{userTrueName} ,
            </if>
            <if test="userAddress != null and userAddress != ''">
                user_avatar = #{userAvatar} ,
            </if>
            <if test="userSex != null and userSex != ''">
                user_sex=#{userSex} ,
            </if>
            <if test="userBirth != null and userBirth != ''">
                user_birth = #{userBirth} ,
            </if>
            <if test="userAddress != null and userAddress != ''">
                user_address = #{userAddress}
            </if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>
